<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.alias %>,</h1>
    <p>
      We are writing to inform you that your target has been killed after overextending their hand.

      Please check the app at <a href="https://murder-with-friends-front-end.herokuapp.com/">Murder with Friends</a> for your new target.
    </p>
  </body>
</html>
